REACT_APP_SUPABASE_URL=https://mmlenzpuuycmvttirhgx.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1tbGVuenB1dXljbXZ0dGlyaGd4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyMzU2NzMsImV4cCI6MjA5MjgxMTY3M30.Y6J6xEls3JRXw40ig3l4AKl3_EtJBJETOkYnHQVGb0A
REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_live_51TRBfzFoDqxtyKhz2i2reX2EZLturR4WSVCrbMKInaUMMaluo3j2dPqnLCre1Xp5T9f5otRXdekKP07wQ0wxIS4700yKQqxOO1
# Optional: full URL to Edge Function if not default `${SUPABASE_URL}/functions/v1/create-checkout-session`
REACT_APP_STRIPE_CHECKOUT_URL=
REACT_APP_CLOUDINARY_CLOUD_NAME=
REACT_APP_EASYPOST_API_KEY=
REACT_APP_EBAY_CLIENT_ID=
REACT_APP_RESEND_API_KEY=
REACT_APP_FIREBASE_SERVER_KEY=
REACT_APP_STRIPE_SECRET_KEY=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